.favorites-container {
    padding: 20px;
    margin: auto;
  }
  
  .favorites-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .favorites-container p {
    font-size: 1.2rem;
    color: #777;
  }
  
  .favorites-list {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
  }
  
  .favorite-card {
    background: #d9dee1b6;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .favorite-card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .favorite-card img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .favorite-card h3 {
    font-size: 1.3rem;
    color: #444;
    margin: 10px 0;
  }
  
  .favorite-card p {
    font-size: 1.2rem;
    color: #3c3a3c;
  }
  
  .favorite-card button {
    background: #3c3a3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 1rem;
  }
  
  .favorite-card button:hover {
    background: black;
  }
  
  @media (max-width: 1200px) {
    .favorites-container h2 {
      font-size: 1.8rem;
      margin-bottom: 20px;
    }
    
    .favorites-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      width: 100%;
    }
    
    .favorite-card img {
      height: 65%;
    }

    .favorite-card h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
    
    .favorite-card p {
      font-size: 1rem;
    }
    
    .favorite-card button {
      padding: 8px 10px;
      font-size: .9rem;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 768px) {
    .favorites-container h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    
    .favorites-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;
    }
    .favorite-card img{
      height: 65%;
    }
    .favorite-card h3 {
      font-size: 1rem;
      margin-bottom: 10px;
    }
    
    .favorite-card p {
      font-size: .8rem;
    }
    
    .favorite-card button {
      padding: 6px 8px;
      font-size: .8rem;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 480px) {
  .favorites-container h2 {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    
    .favorites-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: 100%;
  }
    
    .favorite-card img {
      height: 60%;
    }
    
    .favorite-card h3 {
      font-size: .8rem;
      margin-bottom: 10px;
    }
    
    .favorite-card p {
      font-size: .7rem;
    }
    
    .favorite-card button {
      padding: 6px 10px;
      font-size: .7rem;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 360px) {
    .favorites-container h2 {
        font-size: 1.2rem;
        margin-bottom: 20px;
      }
      
      .favorites-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        width: 100%;
    }
      
      .favorite-card img {
        height: 70%;
      }
      
      .favorite-card h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      
      .favorite-card p {
        font-size: 1rem;
      }
      
      .favorite-card button {
        padding: 6px 10px;
        font-size: .8rem;
        margin-bottom: 10px;
      }
    }