.search-container {
    display: flex;
    width: 100vw;
    position: relative;
    color: black;
    background-color: #3c3a3c;
    padding: 20px;
    overflow: hidden;
    justify-content: center;
}

.search-bar{
    display: flex;
    flex-direction: row;
    background-color: #d9dee1;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.filter-type{
    margin: 5px;
    font-family: var(--font-rubik);
    font-size: 16px;
    font-weight: 500;
}
.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    width: 90%; 
    font-size: 16px;
    font-family: var(--font-rubik);
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #375969;
    cursor: pointer;
    height: 50px;
    width: 10%;
    border-radius: 50px;
    margin: 10px;
}

.search-icon {
    width: 20px; 
    height: 20px;
}


@media (min-width: 768px) and (max-width: 1280px){
    .search-container {
        padding: 10px; 
        width: 100%;
    }

    .search-bar{
        width: 60%;
        padding: 20px;
    }

    .filter-type {
        font-size: 12px; 
    }

    .search-input {
        font-size: 10px; 
        width: 100%;
    }

    .search-button {
        height: 40px; 
        width: 50px;
    }

    .search-icon {
        width: 15px; 
        height: 15px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .search-container {
        width: 100%;
    }

    .search-bar{
        width: 70%;
        padding: 10px;
    }

    .filter-type {
        font-size: 8px; 
    }

    .search-input {
        font-size: 8px; 
        padding: 5px;
        height: 50%;
        width: 100%;
    }

    .search-button {
        height: 30px; 
        width: 70px;
    }
    .search-icon {
        width: 12px; 
        height: 12px;
    }

}

@media (max-width: 480px){
    .search-container {
        width: 100%;
    }

    .search-bar{
        width: 85%;
        padding: 10px;
    }

    .filter-type {
        font-size: 12px; 
    }

    .search-input {
        font-size: 10px; 
        width: 100%;
    }

    .search-button {
        height: 30px; 
        width: 80px;
    }
    .search-icon {
        width: 12px; 
        height: 12px;
    }
}